body
{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: rgba(3, 11, 27, 0.7);
}
.para
{
    color: aqua;
}

.the_button
{
    border-radius: 10px;
}
.the_button:hover
{
    background-color: white;
    color: rgb(43, 178, 231);
}
.the_cards
{
    box-shadow:black;
    color: white;
    border-radius: 10px;
    background-color: rgba(3, 32, 39, 0.7);
    background-blend-mode: hard-light;
}
.pad
{
    padding: 5%;
}